# dependencies
/node_modules
/.pnp
/.cache/
.pnp.js

# testing
/coverage

# front end generic 
*target*
*node_modules*

# JetBrains
.idea/

# VSCode
.vs/
.vscode/
.chrome/
.history/

# production
/build
/dist
/template
.rpt2_cache

# misc
.DS_Store
.env.local
.env.development
.env.development.local
.env.test.local
.env.production
.env.production.local

# npm
# .npmrc
npm-debug.log*
package-lock.json

# yarn
yarn.lock
yarn-debug.log*
yarn-error.log*

*.lock
/.scannerwork/
/sonar-project.properties

# eslint
.eslintcache

# gatsby
# Ignore everything in the "public" directory, except the "assets"
/public/*
!/public/static/assets/

# Since it is a TS project, ignore JS compiled
/**/*.js